/* Colors */
$blue: #3113f2;
$light-blue: #3d9df2;
$dark-blue: #180f50;
$green: #5ef2d7;
$grey: #ecf0f1;

/* Theme */
$default: $dark-blue;
$primary: $blue;
$secondary: $green;
$border-color: $grey;

/* Variables */
$gradient: radial-gradient(circle, white 0%, $grey 100%);
$box-shadow: 0 0 3px $default;
$animation-time: 250ms;
