button {
  border: none;
  cursor: pointer;
  transition: all $animation-time;

  &.primary {
    background-color: $primary;
    color: $grey;

    &:hover {
      background-color: adjust-color($color: $primary, $lightness: -10%);
    }
  }

  &:focus {
    box-shadow: $box-shadow;
  }
}
